<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VPKonnect Account Deletion</title>
</head>
<body>
    <h2>VPKonnect</h2>

    <p>Hello {{username}},</p>

    <p>This email is to confirm that you have requested to delete your VPKonnect account, which has been initiated as per your request.</p>

    <p><strong>Account Deactivation Period:</strong></p>
    <p>Your account will be deactivated for a period of 30 days effective immediately. During this time, your profile, posts, likes, comments, and other account-specific information will not be visible to other users on VPKonnect.</p>

    <p><strong>Reactivation Instructions:</strong></p>
    <p>If you change your mind during the deactivation period and wish to keep your VPKonnect account, you can easily reactivate it by logging into your account using your existing credentials. <a href="https://vpkonnect.in/accounts/login">Keep Account</a></p>
    <p>Please note that after the deactivation period expires, your account will be permanently deleted, and all associated data will be removed from our platform.</p>

    <p><strong>Support and Assistance:</strong></p>
    <p>If you have any questions or need assistance, please visit our Help Center at <a href="https://vpkonnect.in/help">Link to VPKonnect Help Center</a>. Our support team is available to assist you with any concerns you may have regarding this process.</p>

    <p>Thank you for being a part of the VPKonnect community. We're sorry to see you go but appreciate your time with us and respect your decision to delete your account.</p>

    <p>Regards,<br>VPKonnect Admin Team</p>
</body>
</html>