<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VPKonnect Account Deletion Due to Appeal Limit Expiration</title>
</head>
<body>
    <h2>VPKonnect</h2>

    <p>Hello User,</p>

    <p>We regret to inform you that your account has been permanently deleted.</p>
    
    <p>Following a thorough review, your account was permanently banned due to violations of our community guidelines.
    As per our policies, users have a limited window of 21 days to appeal a permanent ban. But no appeal was received during this timeframe.</p>

    <p>After careful consideration, your account and all associated data have been removed from our system.
    Please be advised that no further appeals can be entertained regarding this matter.</p>

    <p>At VPKonnect, we uphold a strict policy against violations of our terms of service and community guidelines. 
    Our commitment to fostering a safe and inclusive environment for all users necessitates the enforcement of these policies.</p>

    <p>In accordance with our commitment to transparency and user rights, we provide a 30-day window from the date of deletion for users to request a copy of their data. 
    If you wish to obtain a copy of your data, please submit your details in the <a href="{{link}}">Request Data Form</a> within the specified timeframe.</p>

    <p>We understand that this news may be disappointing, and we sincerely appreciate your past engagement with VPKonnect. 
    We wish to inform you that, should you decide to return in the future, you are welcome to create a new account. 
    We value the opportunity to serve you once more and encourage your participation in our community under our established guidelines.</p>

    <p>Thank you for your understanding. Should you have any questions or require further assistance, please contact our support team.</p>

    <p>Regards,<br>VPKonnect Admin Team</p>
</body>
</html>