<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VPKonnect Account Deletion Due to Inactivity</title>
</head>
<body>
    <img src="data:image/png;base64,{{logo}}", alt="VPKonnect logo"/>
    <h2>VPKonnect</h2>

    <p>Hello User,</p>

    <p>We regret to inform you that your account has been permanently deleted due to inactivity.</p>
    
    <p>As part of our commitment to data privacy and security, accounts that remain inactive for a period specified by the user in their settings are subject to deletion. 
    Unfortunately, it appears that your account has exceeded this specified period of inactivity.</p>

    <p>Please be advised that your account and all associated data have been removed from our system. 
    In accordance with our commitment to transparency and user rights, we provide a 30-day window from the date of deletion for users to request a copy of their data. 
    If you wish to obtain a copy of your data, please submit your details in the <a href="{{link}}">Request Data Form</a> within the specified timeframe.</p>

    <p>We understand that circumstances may have led to your account becoming inactive, and we respect your decision. 
    We wish to inform you that, should you decide to return in the future, you are welcome to create a new account. 
    We value the opportunity to serve you once more and encourage your participation in our community.</p>

    <p>Thank you for being a part of VPKonnect. Should you have any questions or require further assistance, please contact our support team.</p>

    <p>Regards,<br>VPKonnect Admin Team</p>
</body>
</html>