<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VPKonnect Account Password Reset</title>
</head>
<body>
    <h2>VPKonnect</h2>

    <p>Hello {{username}},</p>

    <p>You have requested a password reset for your account. Please click the link below to reset your password:</p>

    <p><a href="{{link}}">Reset Password</a></p>

    <p>If you did not request this password reset, you can safely ignore this email.</p>

    <p>Regards,<br>VPKonnect Admin Team</p>
</body>
</html>