<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VPKonnect Temporary Account Ban</title>
</head>
<body>
    <h2>VPKonnect</h2>

    <p>Hello {{username}},</p>

    <p>We regret to inform you that your account has been temporarily banned due to violations of our community guidelines. 
    After a thorough review of your account activity, it has been determined that your actions have failed to comply with our policies, resulting in the suspension of your account for a specified duration.</p>
    
    <p>Considering the severity of the violation and in accordance with our policies, your account has been temporarily banned for {{days}} day(s) from {{ban_enforced_datetime}}.</p>
    
    <p>Your account ban is a result of actions that are inconsistent with the standards of behavior expected within our community. 
    While we understand that situations may arise that lead to unintentional breaches of our policies, it is essential to maintain a respectful and compliant presence on our platform.</p>

    <p>During this temporary ban period, you will not have access to your account or its associated features. 
    Please note that any attempts to circumvent this ban will result in further action being taken.</p>

    <p>Please be assured that the decision to impose a temporary ban is not taken lightly and is only enacted after careful consideration of the circumstances involved. 
    Our priority is to ensure a safe and welcoming environment for all users.</p>

    <p>If you believe this ban has been enacted in error or would like to appeal this decision, you may submit the details in the <a href="{{link}}">Appeal Form</a>. 
    Please note that all appeals will be reviewed on a case-by-case basis, and providing compelling evidence or explanations may increase the likelihood of a successful appeal.
    The ban will be lifted if the appeal is accepted or after the completion of specified period, whichever is early.</p>

    <p>We understand that this may be disappointing news, and we sincerely regret any inconvenience this may cause. 
    However, the integrity of our platform and the adherence to our community guidelines remain paramount.</p>

    <p>Regards,<br>VPKonnect Admin Team</p>
</body>
</html>